.idea
__pycache__
*env
.env.test

*comments.md

in_process


ISS_map_tracker(Kivy, Nasa_api, Tkinter)/example
ISS_map_tracker(Kivy, Nasa_api, Tkinter)/description_and_ideas.txt


notesApp(DjangoRest, React)/react_frontend/node_modules
notesApp(DjangoRest, React)/react_frontend/public


restApi_FastApi(FastApi, MongoDB)/routes/comments.py