.idea

in_process

ISS_map_tracker(Kivy, Nasa_api, Tkinter)/__pycache__
ISS_map_tracker(Kivy, Nasa_api, Tkinter)/iss_tracker_env
ISS_map_tracker(Kivy, Nasa_api, Tkinter)/example
ISS_map_tracker(Kivy, Nasa_api, Tkinter)/description_and_ideas.txt


notesApp(DjangoRest, React)/notesApp_env
notesApp(DjangoRest, React)/react_frontend/node_modules
notesApp(DjangoRest, React)/react_frontend/public


rpg_dmg_calc/rpg_dmg_calc_env
rpg_dmg_calc/__pycache__
rpg_dmg_calc/.pyc



